extends ../layout

block content
  a(href="/bicicletas" class="btn btn-link") Volver

  br
  br

  h1 Información de Bicicleta

  br
  br

  table.table
    thead
      tr
        th(scope='col') ID
        th(scope='col')= bici.id
    tbody
      tr
        th(scope='row') Código
        td= bici.code
      tr
      tr
        th(scope='row') Color
        td= bici.color
      tr
        th(scope='row') Modelo
        td= bici.modelo
      tr
        th(scope='row') Ubicación
        td= bici.ubicacion